<div class="container">
    <div class="card card-container">

        <!-- comentario -->

        <img id="profile-img" class="profile-img-card" src="../../content/images/logo.png" />
        <p id="profile-name" class="profile-name-card">
            <h5>Login</h5>
            <hr/>
        </p>
        <form class="form-signin" (ngSubmit)="credencialsForm.valid && onLogin()" #credencialsForm="ngForm" autocomplete="off">
            <span id="reauth-email" class="reauth-email"></span>
            <div class="form-group">
                <label>Utilizador</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="credencials.email" name="email" attr.placeholder=" email "
                    required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="password" id="password" [(ngModel)]="credencials.password" name="password"
                    required>
            </div>

            <button class="btn btn-red" type="submit" [disabled]="!credencialsForm.valid">Login</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
            <div *ngIf="showAuthError" class="alert alert-danger mt-4" role="alert">
                Dados de login inválidos

                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="showAuthError = !showAuthError">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </form>

    </div>
    <!-- /card-container -->
</div>

<!-- /container -->


<!-- <div class="container">
    <div class="row">

        <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-4">
            <form class="p-5 section-light bg-light" >
                <h2 class="mb-3 text-center">Please Login</h2>
                <hr>
                <div class="form-group">
                    <label>username</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="credencials.email" name="email" attr.placeholder=" email "
                        required>
                </div>
                <div class="form-group">
                    <label>password</label>
                    <input type="password" class="form-control" placeholder="password" id="password" [(ngModel)]="credencials.password" name="password"
                        required>
                </div>

                <button type="submit" [disabled]="!credencialsForm.valid" class="btn mt-4 p-2 btn-primary">
                    <b>Login</b>
                </button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <div *ngIf="showAuthError" class="alert alert-danger mt-4" role="alert">
                    Dados de login inválidos

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="showAuthError = !showAuthError">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div> -->